# PostgreSQL
POSTGRES_USER=nyctaxi
POSTGRES_PASSWORD=nyctaxi
POSTGRES_DB=nyctaxi
POSTGRES_PORT=5432

# Airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://nyctaxi:nyctaxi@postgres:5432/nyctaxi
AIRFLOW__WEBSERVER__SECRET_KEY=your-secret-key-here

# Metabase
MB_DB_TYPE=postgres
MB_DB_DBNAME=nyctaxi
MB_DB_PORT=5432
MB_DB_USER=nyctaxi
MB_DB_PASS=nyctaxi
MB_DB_HOST=postgres
